.tag-name {
  text-align: center;
  margin-top: 5vmax;
}

.DisplayCharacter {
  text-align: center;
  margin-top: 30px;
}

.wrapper {
  text-align: center;
}

.button {
  position: absolute;
  margin-left: 110px;
}